/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* some modifications to silder, adding space in x axis on each slides  */
.slick-slide > div {
    margin: 0 7px;
}

.slick-track{
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: max-content !important;
}

/* .slick-list {
    margin: 0 -100px;
    width: 100%;
} */